
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
@model List<Staff>

<h1>Staff Index</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.StaffId</td>
            <td>@item.Name</td>
            <td>@item.Ttile</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detaylar</a></td>
        </tr>

    }
</table>

<a href="#"> Yeni Personel Ekle</a>

